.task-article {
    display: flex;
    border-bottom: 2px solid #fff;
}

.task-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4px 15px 4px 5px;
}

.task-aside {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
}

.task-icon-button {
    background: none;
    border: none;
}

.task-icon-button:hover{
    opacity: 0.65;
}

.task-title {
    font-weight: bold;
    color: #e83b4b;
}

.task-description {
    color: #fff;
}

.finished {
    opacity: 0.4;
    text-decoration:line-through;
}